## Development Artifacts
npm-debug.log*
**/node_modules/
lerna-debug.log

## Output
src/**/lib
storybook-static/

# System files
**/.DS_Store
*.swp

lib
lib/*

.storybook/changed.json
tsconfig.json.*
